@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Monoton&family=Quicksand:wght@300..700&family=Unbounded:wght@200..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    place-items: center;
    min-height: 100vh;
    background-color: #fff;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px;
    gap: 0px 20px;
    max-width: 800px;
    margin: 0 auto;
}

img:not(:hover) {
    filter: grayscale();

}

.gallery img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 20px, 100% 0, 100% calc(100% - 20px), 0 100%);
    border: 5px solid rgb(0, 0, 0);
    transform: scale(1);
    cursor: pointer;
    transition: all 1s ease-in-out;


}

.gallery img:hover {
    transform: scale(2);
    border-radius: 15px;
    z-index: 1;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    border: 5px solid rgb(255, 255, 255);

}

.gallery img:nth-child(4n) {
    grid-row: span 2
}

.gallery img:nth-last-child(-n+5) {
    grid-row: span 1
}

.gallery img:nth-child(10n) {
    grid-row: span 2
}


.gallery .spacer {
    background: rgb(0, 0, 0);
    border-radius: 15px;
    clip-path: polygon(0 20px, 100% 0, 100% calc(100% - 20px), 0 100%);

}

.gallery .quote {
    grid-row: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #eee;
    font-family: "Gloria Hallelujah";
  
  

}

.gallery .quote-small {
    grid-row: span 1;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    text-align: center;
    padding: 20px;
    color: #eee;
    font-family: "Gloria Hallelujah";
 

}

/*responsive*/
@media all and (max-width:700px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);

    }
}

@media all and (max-width:500px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media all and (max-width:400px) {
    .gallery {
        grid-template-columns: repeat(1, 1fr);
        

    }
    .gallery img{
        grid-row: span 2;
    }
    
}